<div>

<h3>Welcome to the Yacht Rock Explorer!</h3>

    <p>
This website is intended to model the relationships between
 Yacht Rockers and the music they performed. An invaluable thank
 you to the dedicated personnel at 
 <a href="http://www.yachtrock.com/">Beyond Yacht Rock</a> upon which
 this site is based.
    </p>

<h4>Controls</h4>
<p>On the left side of the pate you will find controls for generating
 network graphs of varying types
</p>

<ul>
    <li>Toggle Labels - Hides song/performer lables for visibility.</li>
    <li>Search - Search for an artist, and use the slider to determine how many hops out you would like to represent in your graph.</li>
    <li>Draw Map - Graph the quickest path between two performers.
</ul>
</div>
