<div>
    <h2>Welcome to the Yacht Rock Explorer!</h2>
    <p>
        This site models the relationships between Yacht Rockers and the songs
         that they performed. A large and invaluable thank you to the original
         judges of Yachtiness at
         <a href="http://www.yachtrock.com/">Beyond Yacht Rock</a>. None of
        this would be possible without their dedication and snarky judgement.
    </p>
    <p>
        You can explore the reach of individual artists or map one artist to 
        another. Do note that the amount of data returned and displayed may 
        slow down your browser. It's recommended you try smaller return sets 
        before working your way up to large conected networks.
    </p>

    <h4>Controls</h4>
    <p>
        The left panel includes controls for creating network diagrams under
         various criteria. At present, only exact text matches are accepted.
    </p>

    <ul>
        <li>
            <strong>Toggle Labels</strong> - Hides/shows node labels.
        </li>
        <li>
            <strong>Search </strong>- Search for an artist, and use the slider 
                to determine how many hops out you would like to represent in 
                the graph.
            <ul>
                <li><strong>slider</strong> - Decides how many 'hops' from the initial Yachter to represent.
                </li>
            </ul>
        </li>
        <li>
            <strong>Draw Map </strong>- Graph the quickest path between two performers.
        </li>
        <li>
            <strong>Zoom</strong> in and out of the map using mousewheel or trackpad.
        </li>
    </ul>
    <h4>Credits</h4>
    <p>
        All data html to recreate the Yacht Rock Explorer can be found
        <a href="https://github.com/scurvyjtp/yachtrockexplorer">here</a>.
        This site is a labor of love, not profit, please treat it as such.
    </p>
    <div class="dismiss">
        Click anyhwere to dismiss
    </div>
</div>

