<html>
    <head>
        <title>Yacht Rock Explorer</title>

        <link href="{{ url_for('static', filename='bs/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='site/site.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='d3/d3.js') }}"></script>
        <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    </head>

    <body>
    <div class="jumbotron">
        <div class="container">
            <h1>Yacht Rock Explorer</h1>
        </div>
    </div>

    <div id="d3svg" class="container-fluid"><!--style="border: 1px solid black"-->
        <div class="row"> <!-- style="border:1px solid black"-->
            <div id="d3bar" class="col-md-2 h-100">
                <h3>Controls</h3>
                <div id="controls" class="controls" style="padding: 2px; border: 4px solid black">

                    <div id="search" class="w-100">
                        <h4>Search</h4>
                        <input id="autosearch" type="text" name="name" value="Kenny Loggins">
                        <input id="degreeslider" type="range" min="1" max="6" value="2" step="1">
                        <div id="redraw" class="input-button">Redraw</div>
                    </div>
                    <br /><div> <h4>Labels</h4>
                    <div id="label-toggle" class="input-button">Toggle Labels</div>
                    </div>
                </div>

            </div>
            <div id="d3force" class="col-md-10 h-100"></div>
        </div>
    </div>

    </body>
</html>

<script src="{{ url_for('static', filename='site/site.js') }}"></script>

<!-- <input id="label-toggle" type="button" value="Toggle Labels"> -->
