<html>
    <head>
        <title>Yacht Rock Explorer</title>

        <link href="{{ url_for('static', filename='bs/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='site/site.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='d3/d3.js') }}"></script>
        <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    </head>

    <body>
    <div id="header" class="jumbotron">
        <div class="container">
            <h1>Yacht Rock Explorer</h1>
        </div>
    </div>

    <div id="d3svg" class="container-fluid"><!--style="border: 1px solid black"-->
        <div class="row"> <!-- style="border:1px solid black"-->
            <div id="left" class="col-md-2 h-100">
                <h3>Controls</h3>
                <div id="controls" class="controls">
                    <div> <h4>Labels</h4>
                        <div id="label-toggle" class="input-button">Toggle Labels</div>
                    </div>

                    <div id="search" class="w-100">
                        <h4>Search</h4>
                        <form>
                            <input id="autosearch" type="text" name="name" value="Kenny Loggins">
                            <input id="degreeslider" type="range" min="1" max="6" value="2" step="1">
                            <div id="redraw" class="input-button">Redraw</div>
                        </form>
                    </div>

                </div>
                <div>
                    <h4>Draw Map</h4>
                    <input id="map_source" type="text" value="Michael McDonald">
                    <input id="map_target" type="text" value="Michael Jackson">
                    <div id="drawmap" class="input-button">Draw Map</div>
                </div>
                <div>
                    <div id="help-toggle" class="input-button">User Guide</div>
                </div>
                <div id="d3bar" style="margin-top: 8px;">
                    <h3>Top 20</h3>
                </div>
            </div>
            <div id="d3force" class="col-md-10 h-100"></div>
        </div>
    </div>
    </body>
</html>

<script src="{{ url_for('static', filename='site/site.js') }}"></script>

<!-- <input id="label-toggle" type="button" value="Toggle Labels"> -->
